<!DOCTYPE html>
<html>
  <body>
    <p><b>Quotifier:</b><%= @quote.quotifier.name %></p>
    <p><b>Speaker:</b><%= @quote.speaker.name %></p>
    <p><b>Witnesses:</b>
      <% @quote.witnesses.each do |witness| %> 
        <%= witness.name %>,&nbsp; 
      <% end %>
    </p>
    <p><b>Quote:</b><%= @quote.quote_text %></p>
  </body>
</html>
