<!DOCTYPE html>
<html>
  <body>
    <p>Remember This?  Check It Out!</p>
    <p><%= @quote.quotifier.name %> Tagged You In A Quote! <a href="http://quotify.it/<%=@quote.id%>">Click Here To check it out!</a></p>
  </body>
</html>
