There's a new comment on <%=@comment.quote.speaker.name%>'s Quote!

<p>
The comment is:
<%=@comment.comment_text%>
</p>

<!--TODO: Need proper personalized quote id here! -->
<a href="http://quotify.it/<%=@comment.quote.id%>">Click Here</a> to respond! 