<h1>Listing Images for Quote <%=@quote.id%></h1>

<table>
  <tr>
  	<th>Name</th>
    <th></th>
    
  </tr>

<% @quote_images.each do |quote_image| %>
  <tr>
  	<td><%= quote_image.name %></td>
    <td><%= link_to 'Show', quote_quote_image_path(@quote, quote_image) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quote image', new_admin_quote_quote_image_path(@quote)  %>
