<!DOCTYPE html>
<html>
  <body style="background-color:#f9f9f9; text-align: center; padding-top: 20px; ">
	<div style="width:700px; background-color: white; margin: 10px auto; text-align: left; padding: 20px 10px 10px 0px; height: 500px;" >
We just wanted to tell you that Quotify is now live!
	  </div>
  		You can <a style="color:#6f868e;" href="http://quotify.it/?unsubscribe">click here to unsubscribe</a>
  	</p>
  </body>
</html>
