body {
	background-color: white;
	color: #494949;
	font: Arial;
	font-family:Arial;
	text-align:center;

}

.major {

	width: 100%;
	position: relative;

}

#top {

	height: 270px;
	background-color: #9ab5c0;

}

#logo{
	
	left: 50%;
	margin-left: -230px;
	position: absolute;
	top: 40px;
}

#about #buttons{

	top: -60px;
	position: absolute;
	right: 0%;
	z-index: 10;

}

#top a.download{

	margin-right: 12px;

}



#about {

	margin: 40px auto;
	text-align: left;
	width: 600px;
}

#about h1 {

	margin-left: 60px;
	font-weight: normal;

}

#about ul {

	list-style: none;

}

#about ul li {

	width: 600px;

}

#about ul img {
	
	float: left;
	height: 100px;
	width: 100px;
	padding: 10px;

}
#about ul h4 {

	display: inline;
	font-weight: normal;

}
#about ul a {

	color: #8bb1c0;
	margin-left: 5px;
	font-weight: normal;

}


