body {
	background-color: white;
	color: #494949;
	font: Arial;
	font-family:Arial;
	text-align:center;

}

h1 {
	font-size: x-large;
}

p {

	font-size: 1.1em;
}

.major {

	width: 100%;
	position: relative;

}

#top {

	height: 540px;
	background-color: #9ab5c0;

}


#logo{
	
	left: 50%;
	margin-left: -520px;
	position: absolute;
	top: -30px;
}

#about #buttons{

	top: -90px;
	position: absolute;
	right: 0%;
	z-index: 10;

}

#top a.download{

	margin-right: 12px;

}



#about {

	margin: 40px auto;
	padding: 0px 20px 10px 40px;
	text-align: left;
	width: 880px;
}

#about h1 {

	margin-left: 60px;
	font-weight: normal;

}

#about ul {

	list-style: none;

}

#about ul li {

	clear: both;
	width: 880px;

}

#about ul img {
	
	float: left;
	height: 120px;
	width: 120px;
	padding: 10px;

}
#about ul h4 {

	display: inline;
	font-weight: normal;

}
#about ul a {

	color: #8bb1c0;
	margin-left: 5px;
	font-weight: normal;

}


