body {
	background-color: white;
	color: #000000;
	font: Helvetica;
	font-family:Helvetica;
	text-align:center;

}

.major {

	width: 100%;
	position: relative;

}

#top {

	height: 270px;
	background-color: #9ab5c0;

}

#logo{
	
	left: 50%;
	margin-left: -230px;
	position: absolute;
	top: 40px;
}

#top #buttons{

	bottom: -20px;
	margin-left: -100px;
	position: absolute;
	left: 50%;
	z-index: 10;

}

#top a.download{

	margin-right: 12px;

}

#top a.video{

	margin-left: 12px;

}

#middle {

	height: 340px;
	background-color: #fff;

}

.wrapper {

	margin: 0 auto;
	position: relative;
	width: 540px;

}

#middle #left {

	position: absolute;
	left: 60px;
	top: 90px;

}

#middle #mid {

	position: absolute;
	margin-left: -70px;
	left: 50%;
	top: 50px;

}

#middle #right {

	position: absolute;
	right: 0;

}

#bottom {

	height: 170px;
	background-color: #858585;

}

#bottom .copyright {

	color: #afafaf;

}

#bottom .nav {

	position: absolute;
	left: 0px;
	top: 0px;

}

#bottom .nav a {

	color:white;
	margin: 0 10px;

}

#bottom .quotes {

	background: url( 'http://www.quotify.it/Assets/Images/lp/quotes.png') no-repeat left;
	height: 130px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 335px;

}