body {
	background-color: #858585;
	color: #494949;
	font: Arial;
	font-family:Arial;
	text-align:center;

}

.major {

	width: 100%;
	position: relative;

}

#top {

	height: 540px;
	background-color: #9ab5c0;

}

#logo{
	
	left: 50%;
	margin-left: -520px;
	position: absolute;
	top: -30px;
}

#top #buttons{

	bottom: -40px;
	margin-left: -200px;
	position: absolute;
	left: 50%;
	z-index: 10;

}

#top a.video{

	margin-right: 10px;
	float: right;

}

#top a.download{

	margin-left: 24px;

}

#middle {

	height: 680px;
	background-color: #fff;

}

.wrapper {

	margin: 0 auto;
	position: relative;
	width: 880px;

}

#middle #left {

	position: absolute;
	left: 70px;
	top: 150px;

}

#middle #mid {

	cursor: pointer;
	position: absolute;
	margin-left: -100px;
	left: 50%;
	top: 90px;

}

#middle #right {

	position: absolute;
	left: 650px;
	top: 180px;

}

#core{
	background-color: white;
	height: 400px;
}
#core #why{
	background: url( '/assets/Images/icons.png') no-repeat left;
	color: #a2a2a2;
	text-align: left;
	list-style: none;
	margin-top: 10px;
	margin-left: 10px;
	width: 420px;
}
 #core #why li{
	padding: 6px 3px;
}
#core #why em{
	color: #3b3b3b;
}

#bottom {

	height: 340px;
	background-color: #858585;

}

#bottom .copyright {

	color: #afafaf;
	font-size: 16px;
	margin-left: 20px;

}

#bottom .nav {

	font: 'Providence';
	font-family: 'Providence';
	left: -40px;
	position: absolute;
	text-align: left;
	top: 30px;

}

#bottom .nav a {


	color:white;
	font-size: 20px;
	margin: 0 10px;

}

#bottom .quotes {

	background: url( '/assets/Images/lp/quotes.png') no-repeat left;
	height: 260px;
	position: absolute;
	right: -150px;
	top: 0px;
	width: 670px;

}

#quote1, #quote2, #quote3 {

	color: white;
	font-size: 18px;
	position: absolute;
	width: 100px;

} 

#quote1 span, #quote2 span, #quote3 span {
	
	font-weight: bold;

}

#quote1 {

	display: none;
	left: 18px;
	top: 53px;
	width: 90px;

}

#quote2 {

	display: none;
	left: 116px;
	top: 64px;

}

#quote3 {

	display: none;
	left: 220px;
	top: 50px;

}

#simplemodal-overlay {
	background-color: black;
	cursor: pointer;
	opacity: 0.5;
}

#simplemodal-container h3 {

	color: white;

}

#basic-modal-content{
	background-color: black;
	border-radius: 0.6em;
	display: none;
	-webkit-border-radius: 0.6em;
	-moz-border-radius: 0.6em;
	overflow: none;
	padding: 2em;
}
