body {
	
	font: Helvetica;
	font-family:Helvetica;
	text-align:center;

}

#thumbnail img{

	max-height: 100px;
	max-width: 200px;

}


/* style 1 */
body.style1 {

	background-color: #ccffff;
	color: black;

}

