body {
	background-color: white;
	color: #494949;
	font: Arial;
	font-family:Arial;
	text-align:center;

}

.major {

	width: 100%;
	position: relative;

}

#top {

	height: 540px;
	background-color: #9ab5c0;

}


#logo{
	
	left: 35%;
	margin-left: -230px;
	position: absolute;
	top: 60px;
	z-index: 10;
}

#buttons{

	top: -210px;
	position: absolute;
	right: 0%;
	z-index: 10;

}

#quote {

	background: url(/assets/Images/quote/quotebubble.png) no-repeat;
	height: 574px;
	left: 50%;
	margin-left: -550px;
	padding: 35px 0px;
	position: absolute;
	top: -40px;
	width: 1155px;
}

#inner {

	left: 50%;
	max-height: 170px;
	overflow-y: scroll;
	position: absolute;
	margin: 0px -230px;
	font-size: 1.6em;
	top: 250px;
	width: 460px;

}

#deets{

	font-size: 16px;
	left: 36%;
	position: absolute;
	text-align: center;
	width: 275px;
	top: 750px;

}

#top #thumbnail {

	-webkit-box-shadow:  0.3em 0.3em 0.3em  #544e42;
	-moz-box-shadow: 0.3em 0.3em 0.3em  #544e42;
	-box-shadow: 0.3em 0.3em 0.3em  #544e42;
	background-color: white;
	left: 50%;
	margin-left: -170px;
	padding: 10px;
	position: absolute;
	height: 255px;
	width: 255px;
	top: 460px;

}
#top #thumbnail img {

	border: 2px black #544e42 !important;
	max-height: 235px;
	max-width: 235px;

}

#middle {

	height: 340px;
	background-color: #fff;

}

.wrapper {

	margin: 0 auto;
	position: relative;
	width: 540px;

}

#comments {

	min-height: 600px;
	margin: 170px auto;
	text-align: left;
	width: 900px;
}


